*
.*
*~
!README.md
!TODO.md
!CLAUDE.md
!assembly_stat.csv
!.gitignore
!Makefile
!pixi.toml
!pixi.lock

!lib
!lib/*
!logs
!logs/.hodor
!old-pipeline
!old-pipeline/*
!plots
!plots/*
!scripts
!scripts/*
!scripts/util/*
